
body {
  background-color: #89b6e0;
  height: 100vh;
}

.header-font{
  text-align: center;
  margin-top: 5rem;
  font-size: 60px;
}

.font{
  text-align: center;
  padding: 15px;
}

.center{
  margin-left: 43rem;
}