
body {
  background-color: #89b6e0;
  height: 100vh;
}

.header-font{
  text-align: center;
  margin-top: 5rem;
  font-size: 60px;
}

.font{
  text-align: center;
  padding: 15px;
}

.container {
  position: relative;
  width: 100%;
  background: #f4f5f4;
  min-height: 600px;
}

.white-box {
  width: 1470px;
  height: 550px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.text-container {
  flex: 1;
  padding: 2rem;
}

.iframe-container {
  width: 780px;
  margin-top: 22px;
}

.info-font{
  font-size: large;
}
 .infohead{
  font-size: 33px;
  text-align: center
 }