
body {
  background-color: #89b6e0;
  height: 100vh;
}

.header-font{
  text-align: center;
  margin-top: 5rem;
  font-size: 60px;
}

.font{
  text-align: center;
  padding: 15px;
}

.center{
  margin-left: 60rem;
}

.container {position: relative; 
  width:100%; 
  background: #f4f5f4; 
  min-height: 600px; }

.white-box { 
width: 1450px; 
height: 550px; 
margin-top: 50px; 
background-color: white;
padding: 30px;
}


