nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    background-color: #f8f8f8;
    color: #f8f8f8;
    border-bottom: 1px solid black; /* This line adds the black border at the bottom */
}

.logo h1 {
    font-size:1.5rem;
    color: #000000;
}

.links a {
    margin-left: 5rem;
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}

.links a:hover {
    color: rgba(130, 11, 221, 0.781);
}

html, body {
    margin: 0;
    padding: 0;
  }