nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(221, 234, 240);
    color: #fff;
    border-bottom: 1px solid black; /* This line adds the black border at the bottom */
}

.logo h1 {
    font-size:1.5rem;
    color: #000000;
}

.links a {
    margin-left: 5rem;
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}

.links a:hover {
    color: hsl(209, 58%, 71%);
}

html, body {
    margin: 0;
    padding: 0;
  }